<ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
        <button class="button" ng-click="doSomething()">左侧按钮</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
        <button class="button">右侧按钮</button>
    </div>
</ion-header-bar>
<ion-content>
    一些内容!
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>能滚动吗?</h1>
</ion-content>
<ion-footer-bar align-title="left" class="bar-assertive">
    <div class="buttons">
        <button class="button">左侧按钮</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
        <button class="button">右侧按钮</button>
    </div>
</ion-footer-bar>