<ion-view title="网易新闻">
    <ion-content delegate-handle="waige">
        <ion-refresher
                pulling-text="歪哥真棒..."
                on-refresh="doRefresh('down')"
                refreshing-text="歪哥好帅"
                pulling-icon="ion-arrow-down-a">

        </ion-refresher>

        <div class="list">

            <a class="item item-thumbnail-left" href="#" ng-repeat="news in obj.listArr | orderBy : news.priority">
                <img ng-src="{{ news.imgsrc }}">
                <h2>{{ news.title }}</h2>
                <p>{{ news.ptime }}</p>
            </a>


        </div>

        <!--<div style="height: 2000px; background: red;">-->

        <!--</div>-->

        <ion-infinite-scroll
                on-infinite="doRefresh('up')"
                distance="1%"
                ng-if="obj.isFirst">
        </ion-infinite-scroll>


    </ion-content>
</ion-view>