<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <div ng-controller="MyController">

        <!-- scope值为默认值false的情况, 指令的作用域继承于父作用域, 父子的值一致(同时改变) -->
        <input type="text" ng-model="name">
        <div my-directive-false></div>



    </div>

    <div ng-controller="TrueController">

        <!-- scope值为true的时候, 指令会创建一个新的作用域, 子随父变, 子变父不变(如果绑定值是对象里面的属性操作的就是福作用域下的值, 子父一起变) -->

        <input type="text" ng-model="name" placeholder="true">

        <div my-directive-true></div>

    </div>


</body>
</html>
<script src="../lib/angular.js"></script>
<script src="js/app.js"></script>
